/dataset/*
/checkpoints
/caffe_model
/results/*
/test
modelTest.zip
/dataset_roi/*
/saved_model/*
/__pycache__
saved_image.pgm
/dataset_preprocessed/*
dataset_preprocessed.zip
raw_dataset/
**/__pycache__
/.idea
/__pycache__